.btn
    background: #e00
    color: #fff
    transition: all .3s ease-in
    border: none 
    outline: none
.btn:hover
    background: #b00
    color: #fff
.btn:visited
    background: #b00
    color: #fff
.btn:active
    background: #b00
    color: #fff
.btn:focus
    background-color: #b00
    color: #fff