.main
    margin-top: 1rem
    margin-bottom: .5rem
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    gap: .4rem
    &__right
        display: flex
        flex-direction: column
        justify-content: center
        width: 29%
        gap: .5rem
        @include respond(tab-port)
            width: 35%
            margin-top: 2rem
        @include respond(phoneL)
            width: 100%
            margin-top: 0

// @media (max-width: 1230px)
//     .card
//         height: auto
//     .weather-card
//         position: static
//         text-align: center
// @media (max-width: 915px)
//     .card
//         margin-top: 1rem
//         width: 100%
//     .card-league, .card-teams
//         padding-bottom: 2rem
//     .card-time
//         justify-content: center
//     .weather-card
//         height: auto
// @media (max-width: 635px)
//     .activeLink
//         padding: .3rem
//     .player-info
//         width: 100%
