.slider-container
    margin-bottom: .5rem
    display: flex
    justify-content: space-between
.slider
    width: 70%
    height: 500px
    position: relative
    img
        position: absolute
        object-fit: cover
        width: 100%
        height: 500px
.card
    margin: 0
    width: 29%
    height: 50%
    background: $blueBlackColor
    color: #fff
    font-size: 1.4rem
    padding-top: 1rem
    padding-bottom: 1rem
    border-top: 4px solid red
    position: relative
    &-wrapper
        margin: 0 auto
        width: 90%
    &-dateAndStadium
        display: flex
        justify-content: space-between
        font-weight: 600
    &-league
        opacity: .65
        margin-bottom: 1rem
        padding-bottom: 3rem
        border-bottom: 0.1px solid #ffffffb3
    &-teams
        display: flex
        justify-content: space-between
        align-items: center
        text-align: center
        padding-bottom: 3rem
        border-bottom: 0.1px solid #ffffffb3
        margin-bottom: 1rem
        &-logo
            display: flex
            align-items: center
            justify-content: center
            height: 100px
        &-logo img
            width: 80px
        &-sign
            font-size: 4.6rem
            opacity: .65
            width: 10%
        &-text
            padding-top: 1rem
            font-size: 1.6rem
            font-weight: bold
    &-first-team
        height: 12rem
        width: 45%
    &-second-team
        height: 12rem
        width: 45%
    &-time
        display: flex
        flex-wrap: wrap
        div
            font-size: 2.5rem
        div:not(:last-child)
            margin-right: 2rem
.weather-card
    position: absolute
    top: 36rem
    width: 100%
    height: 13.6rem
    padding: 2rem 2rem
    color: white
    background-size: cover
    &-info
        border-radius: 10px
        margin: 0 auto
        &-photo
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            z-index: -1
        &-title
            display: inline-block
            opacity: .7
            padding: .2rem
            background-color: red
            margin-bottom: .2rem
            transition: .2s ease-in-out
            &:hover
                opacity: 1
        &-month
            display: inline-block
            opacity: .7
            padding: .2rem
            background-color: red
            margin-bottom: .2rem
            transition: .2s ease-in-out
            &:hover
                opacity: 1
        &-deg
            opacity: .7
            padding: .2rem
            display: inline-block
            background-color: red
            margin-bottom: .2rem
            transition: .2s ease-in-out
            &:hover
                opacity: 1
        &-rain
            opacity: .7
            padding: .2rem
            display: inline-flex
            background-color: red
            margin-bottom: .2rem
            transition: .2s ease-in-out
            &:hover
                opacity: 1
    &-icon
        width: 50%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        img
            width: 100%

.slider-dots
    position: absolute
    bottom: 3rem
    left: 50%
    transform: translate(-50%)
    padding-left: 10px
    padding-right: 10px
    z-index: 100
    background: #FFFFFF
    & ul
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        display: flex
        justify-content: center
        align-items: center
        background-color: #FFFFFF
        height: 2px
.dot
    list-style: none
    width: 20px
    height: 20px
    background-color: #FFFFFF
    border-radius: 20px
    cursor: pointer
    transition: .1s all
    &:not(:last-child)
        margin-right: 10px
    &:hover
        transform: scale(1.2)
.active-dot
    background-color: $mainRedColor
    transform: scale(1.4)

@media (max-width: 1230px)
    .card
        height: auto
    .weather-card
        position: static
        text-align: center
    .header__wrapper_brends
        display: none
    .header__wrapper_list
        width: 100%
        padding-left: 10%
    .slider-container
        align-items: center
        margin-top: -4rem
@media (max-width: 915px)
    .header__logo
        top: -3.5rem
        width: 4rem
    .header__wrapper_list
        padding-left: 0
    .header__wrapper_list
        padding-left: 0
    .header__box_list
        justify-content: space-between
    .slider
        width: 100%
    .slider-container
        flex-wrap: wrap
    .card
        margin-top: 1rem
        width: 100%
    .card-league, .card-teams
        padding-bottom: 2rem
    .card-time
        justify-content: center
    .weather-card
        height: auto
    .header-tab
        font-size: 1.4rem
@media (max-width: 635px)
    .header__logo
        top: -8.5rem
        z-index: 102
        width: 4rem
    .header__wrapper_top
        justify-content: center
        padding-right: 0
    .header__wrapper
        display: none
        position: absolute
        background: $mainRedColor
        margin-top: 3.8rem
        width: 100%
        border: 1px solid white
        border-top: none
        border-left: none
        &_list
            text-align: center
    .header__box_list
        display: block
        opacity: 1
        transition: all 2s ease
        li:not(:last-child)
            margin-bottom: 1rem
    .header-squad
        padding: 0
    .header-squad-bef
        display: none
    .burgerMenu
        display: block
    .header-tab
        display: flex
        flex-direction: column
        right: 0
        top: 6rem
        padding-top: 1rem
        font-size: 1rem
        width: 50%
        z-index: 99
    .header-tab-item
        width: 100%
        margin-left: 0
    .header-tab-item
        p
            margin-bottom: 0
    .header-squad-fake
        opacity: 0
    .header__wrapper_top-list
        display: none
    .slider-dots
        z-index: 1
@media (max-width: 450px)
    .header-tab
        font-size: 1.2rem
        padding: .2rem
        padding-top: 1rem
        top: 9rem
        width: 100%
    .header-tab-item
        text-align: center
// лого має бути. Треба раніше бургер і лого збоку, або Хоум 
// просто по кліку відкривати закривати на мобілці 
